# ignore all directories
*/
.*/

# expect selected directories
!.vim/
!bin/

# home directory: ignore selected files only
/.bash_history
/.ICEauthority
/.Xauthority
/.xsession-errors
/.xsession-errors.old


# vim
*.swo
*.swp

# osx
*.DS_Store

# don't track bundles but vundle. Call `vim +BundleInstall +qall` to install
.vim/bundle/
!.vim/bundle/vundle
