# home directory

## ignore selected directories
/proj

## expect selected directories
!/.vim/
!/bin/

## ignore selected files only
/.bash_history
/.sqlite_history
/.ICEauthority
/.Xauthority
/.xsession-errors
/.xsession-errors.old

### credentials
/.ssh/
/.smbcredentials
/.pause

## don't track bundles but vundle. To install call
## `git submodule update --init` and `vim +BundleInstall +qall`
/.vim/bundle/
!/.vim/bundle/vundle


# subdirectories

## vim
*.swo
*.swp

## OSX
*.DS_Store

proj
